.spinner {
    width: 15vh;
    height: 15vh;
    border-radius: 1em;
    background: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner .circle {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: 1vh solid var(--highlight-color);
    border-left-color: transparent;
    box-sizing: border-box;
    animation: spinning 1s linear infinite forwards;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}