.shader-editor {
    padding: 0.5rem;
}

.shader-editor .top-row {
    display: flex;
    margin-bottom: 1rem;
}

.shader-editor .name {
    font-size: 2rem;
    flex-grow: 1;
}

.shader-editor button {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--highlight-color);
    background: var(--tertiary-color);
    border: 0;
    transition-duration: 0.3s;
}

.shader-editor > .description {
    border: 1px solid var(--tertiary-color);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: left;
    min-height: 128px;
}

.shader-editor > .description img {
    float: left;
    margin-right: 0.5em;
}

.editor-controls {
    display: flex;
}

.editor-controls button {
    margin-left: 0.4em;
}

.shader-editor button:hover {
    background: var(--secondary-color);
}

.shader-editor .settings-title {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.shader-editor .download-button {
    margin: auto;
    width: auto;
    padding: 0.5em;
    height: auto;
}