.shader-editor {
    padding: 0.5rem;
}

.shader-editor .top-row {
    display: flex;
    margin-bottom: 1rem;
}

.shader-editor .name {
    font-size: 2rem;
    flex-grow: 1;
}

.shader-editor > .description {
    border: 1px solid var(--tertiary-color);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: left;
    min-height: 128px;
}

.shader-editor > .description img {
    float: left;
    margin-right: 0.5em;
}

.editor-controls {
    display: flex;
}

.shader-editor .settings-title {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.shader-editor .download-button {
    margin: auto;
    width: auto;
    padding: 0.5em;
    height: auto;
}