body {
    background: var(--main-color);
}

.app {
    width: 100%;
    min-height: 100%;
    color: var(--text-color);
    font-family: "Fredoka One", sans-serif;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}

.page-title {
    font-size: 3em;
    user-select: none;
    text-decoration: none;
    color: white;
}

.page-controls {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.help.firstVisit {
    animation: pulsing 1s infinite alternate ease-in-out;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

hr {
    border-color: var(--highlight-color);
}