body {
    background: var(--main-color);
}

.app {
    width: 100%;
    min-height: 100%;
    color: var(--text-color);
    font-family: "Fredoka One", sans-serif;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}

.page-title {
    font-size: 3em;
}

.help {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: var(--tertiary-color);
    width: 3rem;
    height: 3rem;
    border: none;
    color: var(--highlight-color);
    transition-duration: 0.3s;
}

.help.firstVisit {
    animation: pulsing 1s infinite alternate ease-in-out;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.help:hover {
    background: var(--secondary-color);
}

hr {
    border-color: var(--highlight-color);
}